<h1>Todo</h1>
<div class="container">
    <!-- <div class="alert alert-warning" *ngIf="todoform.dirty && todoform.invalid">Enter valid values</div> -->
    <form (ngSubmit)="!todoform.invalid && submit()" #todoform="ngForm">
        <fieldset class="form-group">
            <label>description</label>
            <input type="text" [(ngModel)]=todo.desc class="form-control" name="description" minlength="5" required="required">
        </fieldset>
        <fieldset class="form-group">
            <label>isCompleted?</label><br>
            <!-- <input type="boolean" [(ngModel)]=todo.done class="form-control" name="done" required="required"> -->
            <input [(ngModel)]=todo.done type="radio" id="html" name="fav_language" value="True">
            <label for="html">True</label><br>
            <input [(ngModel)]=todo.done type="radio" id="css" name="fav_language" value="False">
            <label for="css">False</label><br>
        </fieldset>
        <fieldset class="form-group">
            <label>Date</label>
            <input type="date" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.targetDate=$event"
                class="form-control" name="date" required="required">
        </fieldset>
        <button class="btn btn-success">Save</button>
    </form>

</div>